/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#amfm-byline-wrapper {
   /* display: none; */
}

#amfm-byline-col-author,
#amfm-byline-col-editor,
#amfm-byline-col-reviewer {
   display: none;
}

@media (max-width: 768px) {
   .amfm-byline-col {
      width: 100%;
   }

   .amfm-byline-col>.elementor-widget-wrap {
      border-left: none !important;
      border-right: none !important;
   }
}