/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#amfm-byline-wrapper {
   /* display: none; */
}

/* .amfm-pagination {
   margin-top: 20px;
   text-align: center;
}

.amfm-pagination a, .amfm-pagination span {
   display: inline-block;
   margin: 0 5px;
   padding: 8px 12px;
   border: 1px solid #ddd;
   color: #333;
   text-decoration: none;
}

.amfm-pagination a:hover {
   background: #f0f0f0;
}
 */

 .amfm-pagination .current {
   color: #111;
}

.amfm-related-posts .amfm-related-post-item {
   margin-bottom: 15px;
}

.amfm-related-post-title {
   font-size: 18px; 
   font-weight: bold;
}

.amfm-related-post-link {
   font-size: 14px; 
   font-weight: bold;
}

.amfm-related-posts .amfm-read-more {
   color: #0073aa;
   text-decoration: underline;
   font-weight: bold;
}

/* AMFM STAFF ELEMENTOR MODULE */
.amfm-staff-grid {
   text-align: center;
}
.amfm-staff-item {
   margin-left: auto;
   margin-right: auto;
}
.amfm-staff-image {
   text-align: center;
}

@media (max-width: 1024px) {

   /* commons */
   /* .amfm-border-left {
      left: -3% !important;
   } */
}

@media (max-width: 768px) {

   /* commons */
   /* .amfm-border-left {
      display: none;
   }

   .amfm-byline-col {
      width: 100%;
   }

   .amfm-byline-col>.elementor-widget-wrap {
      border-left: none !important;
      border-right: none !important;
   } */
}